h1 {
    color: red;
    font-size: 5em;
}
p {
    color: black;
}
li, dt {
    color: blueviolet;
    font-style: oblique;
    border: 0cm;
}
dd {
    list-style-type: lower-greek;
}
.special {
    color: rgb(147, 43, 43);
    font-weight: bold;
}
a:link {
    color: pink;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
}
div {
    color: white;
}
.box {
    margin: 30px;
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    transform: rotate(0,8turn);
}
dd {
    text-align: center;
}